/* ////////////////// COLORS ///////////////////////////////////
#4d0000, #72191b, #cc6032, #eb8d3a, #fde079
*/

*{
	color: white;
}

div.background {
	padding-top: 30px;
    background: #eb8d3a; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#72191b, #cc6032, #eb8d3a, #ffeb99); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#72191b, #cc6032, #eb8d3a, #ffeb99); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#72191b, #cc6032, #eb8d3a, #ffeb99); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#72191b, #cc6032, #eb8d3a, #ffeb99); /* Standard syntax */
}

div.attendee{
	display: block;
	margin: 0 15%;
	padding: 20px 30px 0 30px;
}

p{
	font-size: 15.5px;
	text-align: left;
	margin-bottom: 30px;
	color: #f2f2f2;
}

@media (min-width: 768px) and (max-width: 991px) {
    .Rt {
		float: right;
    }
}

div.FAQ{
	display: block;
	margin: 40px 8% 0 8%;
	padding: 20px 40px;
	text-align: left;
}

div.Q{
	padding: 0 40px;
}

div.right{
	padding-left: 70px;
}

@media (max-width: 991px) {
	div.right{
		padding-left: 40px;
	}
}

h1.FAQ{
	margin-bottom: 30px;
}

a.OOR{
	color: #8ec8ff;
}

h1{
	padding: 0;
	text-align: center;
	color: white;
}

h2{
	font-family: "TheBoldFont";
	padding: 0;
	margin: 0;
	font-size: 22px;
	color: white;
}

@media only screen and (max-width: 576px) {
	div.attendee{
		display: block;
		margin: 0 2%;
		padding: 20px 30px 0 30px;
	}
	div.FAQ{
		display: block;
		margin: 40px 2% 0 2%;
		padding: 20px 30px;
		text-align: left;
	}
}