/*////////////////// START FONTS ////////////////////////////////*/
@font-face{font-family: 'TheBoldFont'; src: url(Fonts/TheBoldFont.ttf) format('truetype');}
@font-face{font-family: 'LostInWild'; src: url(Fonts/LostInWild.ttf) format('truetype');}
@font-face{font-family: 'Tribeca'; src: url(Fonts/Tribeca.ttf) format('truetype');}
@font-face{font-family: 'SouthAfirkas'; src: url(Fonts/SouthAfirkas.ttf) format('truetype');}
@font-face{font-family: 'CenturyGothic'; src: url(Fonts/CenturyGothic.TTF) format('truetype');}
/*////////////////// END FONTS ////////////////////////////////*/

/* ////////////////// COLORS ///////////////////////////////////
#4d0000
#72191b
#cc6032
#eb8d3a
#fde079
*/


/*////////////////// START MAIN ////////////////////////////////*/
div.body{
	text-align: center;
}

body {
	margin-top: 95px;
	text-align: center;
	font-family: "CenturyGothic";
}
/*////////////////// END MAIN ////////////////////////////////*/



/*////////////////// NAVBAR START ////////////////////////////////*/
.navbar-default {
	background-color: #260f12;
	border: none;
}

.navbar {
	background-image: url(Assets/Stripes_Long.png) !important;
	background-repeat: no-repeat;
}

img.cki{
	height: 90px; 
}

.navbar-brand{
	padding: 2px 0 0 10px;
}

.navbar-default .navbar-nav li a{
  font-size:22px;
  color:white;
  font-weight: 400;
  text-shadow:none;
  padding-top: 0px;
  padding-bottom: 0px;  -webkit-transition: all 0.3s ease-out;
  line-height: 95px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: 0.3s ease;
}

.navbar-default .navbar-nav li a:hover{
	color: #72191b;
}

img.cnh {
	height: 78px;
	margin: -4px 10px 0 0;
}

.navbar-header{
	margin: 22.5px 0;
}

@media (max-width: 970px) {
	.navbar-default .navbar-nav li a{
		line-height: 42px;
	}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 9px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}


@media only screen and (max-width: 576px) {
	img.cki{
		height: 80px;
		padding-top: 12px;
	}
}

@media only screen and (max-width: 768px) {
	img.cki{
		margin-left: -15px;
	}
}

/*////////////////// NAVBAR END ////////////////////////////////*/


/*////////////////// ALL SECTIONS BEGIN ////////////////////////////////*/

div.s{
	width: 100%;
	height: 350px;
	padding-top: 80px;
}

div.t{
	height: 350px;
}

div.hover{
	display: none;
	text-align: left;
	font-size: 15px;
	color: white;
	font-family: "CenturyGothic";
	margin: 0 10%;
	padding-left: 5%;
}

h1{
	font-family: "SouthAfirkas";
	font-size: 30px;
	padding: 50px 0 30px 0;
	color: white;

}

div.grad{
	padding: 100px 0;
}

img.icon{
	height: 350px;
}

@media only screen and (min-width: 1300px) {
	div.grad{
		margin-bottom: 15%;
	}
}
/*////////////////// ALL SECTIONS END ////////////////////////////////*/




/*///////////////////// ANIMATION BEGIN ////////////////////////*/
video{
	width: 100%;
	position: relative;
	z-index: 0;
	margin: -10% 0 -2% 0; padding: 0;
}

.container { 
	width: 100%; 
	padding: 0;
	margin: 0; 
	position: relative;
}

div.details{
	position: absolute;
	z-index: 1;
	top: 80%; 
	width: 100%;
}
h2{
	font-family: "TheBoldFont";
	color: black;
	font-size: 40px;
}

div.filler{
	height: 20px;
	margin: 0; padding: 0;
	background: #F9ED61;
}

@media only screen and (max-width: 1500px) {
	h2{
		font-size: 32px;
		margin: 10px 0;
	}
}

@media only screen and (max-width: 1000px) {
	h2{
		font-size: 25px;
		margin: 6px 0;
	}
}

@media only screen and (max-width: 700px) {
	h2{
		font-size: 18px;
		margin: 4px 0;
	}
	div.filler{
		height: 20px;
	}
}

/*///////////////////// ANIMATION END ////////////////////////*/



/*///////////////////// ANNOUNCEMENTS BEGIN ////////////////////////*/
div.announcements{
	height: 0px;
    background: #eb8d3a; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F9ED61, #F9C836); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F9ED61, #F9C836); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F9ED61, #F9C836); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F9ED61, #F9C836); /* Standard syntax */
}
/*///////////////////// ANNOUNCEMENTS END ////////////////////////*/



/*////////////////// SECTION 0 BEGIN ////////////////////////////////*/
div.section0{padding: 0;margin: -1px 0 0 0}
div.left {margin: 0; padding: 0;}
div.right{margin: 0; padding: 0;}

img.left{
	margin: 0; padding: 0;
	width: 100%;
}

img.right{
	margin: 0; padding: 0;
	width: 100%;
}

/*////////////////// SECTION 0 END ////////////////////////////////*/

/* ////////////////// COLORS ///////////////////////////////////
#4d0000, #72191b, #cc6032, #eb8d3a, #fde079
*/

div.background{
	margin: -2px 0 0 0; padding: 0;
    background: #eb8d3a; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#4d0000, #72191b, #992600, #cc6032, #eb8d3a, #ffcc66, #ffeb99); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#4d0000, #72191b, #992600, #cc6032, #eb8d3a, #ffcc66, #ffeb99); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4d0000, #72191b, #992600, #cc6032, #eb8d3a, #ffcc66, #ffeb99); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4d0000, #72191b, #992600, #cc6032, #eb8d3a, #ffcc66, #ffeb99); /* Standard syntax */
}

/*////////////////// SECTION 1 BEGIN ////////////////////////////////*/
div.R1:hover div.hover1 {
	display: block;
}

div.section1{
	display: relative;
}

div.L1  { 
	display: table-cell; 
    vertical-align: top;
    float: right;
}

div.R1 { 
	display: table-cell; 
    vertical-align: top;
    float: left;
}
/*////////////////// SECTION 1 END ////////////////////////////////*/

/*////////////////// SECTION 2 BEGIN ////////////////////////////////*/
div.R2:hover div.hover2 {
	display: block;
}

div.L2{
	padding-top: 50px;
}
/*////////////////// SECTION 2 END ////////////////////////////////*/

/*////////////////// SECTION 3 BEGIN ////////////////////////////////*/
div.R3:hover div.hover3 {
	display: block;
}

img.welcome{
	margin-top: 30px;
	height: 320px;
}

div.section3{
	display: relative;
}

div.L3  { 
	display: table-cell; 
    vertical-align: top;
    float: right;
}

div.R3 { 
	display: table-cell; 
    vertical-align: top;
    float: left;
}
/*////////////////// SECTION 3 END ////////////////////////////////*/

/*////////////////// SECTION 4 BEGIN ////////////////////////////////*/
div.R4:hover div.hover4 {
	display: block;
}

/*////////////////// SECTION 4 END ////////////////////////////////*/

/*////////////////// SECTION 5 END ////////////////////////////////*/
div.section5{
	padding: 0; margin: -50px 0 0 0;
}

img.LS{
	width: 100%;
}
/*////////////////// SECTION 5 END ////////////////////////////////*/


